name: 'Perf'
on:
  workflow_dispatch:
jobs:
  Perf-Install:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/galacticusorg/buildenv:latest
      options: --privileged
    steps:
      - name: Install tools
        run: |
          apt -y update && apt -y upgrade && apt autoremove
          uname -r
          apt install -y linux-tools-`uname -r` linux-cloud-tools-`uname -r` linux-tools-generic
          which perf
          ls -l `which perf`
          find /usr/lib/linux-tools -type f
